// The parent container for the link bank.
.action-links {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-left: 0;
}

// The form the link is in.
.link {
  display: flex;
  margin: auto;
  margin-left: 0;
}

.link > a {
  text-decoration: none;
  color: cornflowerblue;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  border-radius: 7px;
  border: 2px solid cornflowerblue;
}

.link > a:hover {
  color: white;
  background-color: cornflowerblue;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
