.order-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-info > p {
  margin-right: 3rem;
  font-size: 1.8rem;
  white-space: nowrap;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0 0 0 7px;
  padding: .5rem;
}
.retried-order-set {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  border: 1px solid whitesmoke;
  border-radius: 7px;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.orders-in-array {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}
.orders-in-array > p {
  margin: 0 .5rem;
}
.order-actions {
  display: flex;
  align-items: flex-end;
  margin-top: 5rem;
}

.order-actions > form {
  margin-top: auto;
}

.order-actions > p {
  margin-bottom: auto;
  margin-left: 0;
  font-size: 1.8rem;
}
.action-links {
  font-size: 1.5rem;
}
td.error-message {
  font-size: 1.3rem;
  white-space: pre-wrap;
}
.error-message-unpushed {
  display: none;
}
.error-message-unpulled {
  display: none;
}

.unpushed-error-message {
  white-space: pre-wrap;
  font-size: 1.4rem;
}
.error-message-button.true:hover {
  color: whitesmoke;
  cursor: default;
}

.x-close {
  text-align: center;
  width: 2rem;
  padding: .5rem;
  border: 1px solid whitesmoke;
  border-radius: 20px;
}
.x-close:hover {
  color: black;
  border: 1px solid black;
  transition: ease .5s;
  cursor: pointer;
}
#show-error {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  min-height: 10%;
  max-width: 25rem;
  padding: 2rem;
  font-size: 2rem;
  border: 2px solid cornflowerblue;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  transition: ease .5s;
}
#show-error:hover {
  color: black;
}
.error-message.true:hover {
  color: orange;
  cursor: pointer;
}
.error-message-modal.true {
  display: table-cell;
}


// -------------------- Media Queries ----------
@media all and (max-width: 1400px) {
  .unpushed-error-message {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 1280px) {
  td {
    font-size: 1.2rem;
  }
  td.error-message {
    max-width: 25rem;
    font-size: 1.1rem;
  }
  .unpushed-error-message {
    font-size: 1.1rem;
  }
}
@media all and (max-width: 1023px) {
  .unpushed-table-large {
    table-layout: fixed;
  }
  .order-actions {
    margin-top: 8rem;
    font-size: 1.5rem;
  }
  .order-info {
    font-size: 1.5rem;
  }
  .retried-order-set {
    font-size: 1.2rem;
  }
  .header-row > th {
    font-size: 1.1rem;
  }
  td {
    font-size: 1.1rem;
    white-space: pre-wrap;
  }
  td.reduceable-td {
    width: 1%;
  }
  td.error-message {
    min-width: 20rem;
    font-size: 1rem;
  }
  .unpushed-error-message {
    font-size: 1rem;
  }

  td.order-date, td.attempted-date {
    white-space: pre-wrap;
    max-width: 7rem;
  }
}
@media all and (max-width: 767px) {
  .order-actions {
    margin-top: 10rem;
    font-size: 1.5rem;
  }
  .order-actions > form > button {
    font-size: 1.5rem;
  }
  .order-actions > p {
    font-size: 1.5rem;
  }
  p.order-info-number-display {
    font-size: 1.5rem;
  }
  th {
    font-size: 1.1rem;
  }
  td {
    font-size: 1rem;
  }
  td.error-message.true {
    min-width: 1rem;
  }
}
@media all and (max-width: 620px) {
  .order-actions {
    font-size: 1.1rem;
  }
  .order-actions > form > button {
    font-size: 1.1rem;
  }
  .order-actions > p {
    font-size: 1.1rem;
  }
  p.order-info-number-display {
    font-size: 1.1rem;
  }
  td.error-message.true {
    font-size: .8rem;
  }
}